{#  articles_panier  : tableau de dictionnaires
        * dictionnaire : nom quantite prix article_id [stock]
        *
#}

{% extends "client/layout_client.html" %}
{% block body %}
    <div class="container">
        <div class="row align-self-right">
        {% include('client/boutique/_panier.html') %}
            <div class="col">
              <h3>Les filtres</h3>
              Chaussures dont le nom est composé par :<br>
                 {% include('client/boutique/_filtre.html') %}
            </div>
        </div>

        <div class="bg-light p-3">
            <h1>Les Chaussures</h1>
        </div>

        <div class="row">
                {% for Chaussure in Chaussure  %}
                        <div class="card col-4 mt-4 p-1">
                            <div class="card-body border-dark rounded p-1">
                                <a href="/client/article/details?id_article={{ Chaussure.IdChaussure }}" >
                                <h3 class="card-title">
                                    <span style="color: #0b2e13">{{ Chaussure.NomChaussure }}</span><br>
                                    {{ Chaussure.PrixChaussure }}
                                    €
                                </h3>
                                     {%  if Chaussure.Image is not none %}
                                        <img class="card-img-top rounded mx-auto d-block"  style="width:100px;height:100px"  src="{{ url_for('static', filename = 'Img/imageChaussures/')}}{{ Chaussure.Image }}"  alt="image  de {{ Chaussure.NomChaussure }}" >
                                    {% else %} <img class="card-img-top rounded mx-auto d-block"   style="width:100px;height:100px"   src="{{ url_for('static', filename='Img/imageChaussures/no_photo.jpeg')}}"  alt="image  de {{ Chaussure.NomChaussure }}" >
                                    {% endif %}
                                    <hr>
                                </a>
                                <div class="row">
{# #}                                {% if  Chaussure.Stock is defined and Chaussure.Stock != None %}
{# #}                                    {% if Chaussure.Stock > 0 %}
                                        <form  action="/client/panier/add"  method="post" class="col-5">
                                            <input type="hidden" name="id_chaussure" value="{{ Chaussure.IdChaussure }}">
                                            <div class="input-group">
                                            <button class="btn  btn-success"  id="button-addon1">
                                                <i class="fas fa-shopping-cart">Ajouter</i>
                                            </button>
                                            <input type="number" id="quantite" step="1" min="1" max="{{ Chaussure.Stock }}" class="form-control" value="1" name="quantite"  aria-describedby="button-addon1">
                                            </div>
                                        </form>
{# #}                                    {% endif %}
{# #}                                {% endif %}
                                     <div class="col-2 align-content-end">
                                    {% if Chaussure.liste_envie is defined %}
                                         {%if  Chaussure.liste_envie== 1%}
                                             <a href="/client/envie/add?id_article={{ Chaussure.IdChaussure }}" style="text-decoration: none">💛</a>
                                         {% else %}
                                             <a href="/client/envie/add?id_article={{ article.IdChaussure }}" style="text-decoration: none">🤍</a>
                                         {% endif %}
                                    {% endif %}
                                     </div>
                                </div>
                            </div>
                            <div class="card-footer">
                            {% if Chaussure.Stock is defined and Chaussure.Stock != None %}
                                 {% if Chaussure.Stock > 0 %}
                                    <small class="text-muted">Stock restant : {{ Chaussure.Stock }}</small>
                                 {% else %}
                                    <small class="text-muted">Chaussure  momentanément indisponible</small>
                                 {% endif %}
                                {% if Chaussure.nb_declinaison is defined and Chaussure.nb_declinaison != None %}
                                    ({{ Chaussure.nb_declinaison }} d.)
                                {% endif %}
                                <br>
                            {% endif %}
                            {% if Chaussure.nb_notes is defined %}
                                {% if Chaussure.nb_notes > 0 %}
                                 <a  href="/client/article/details?id_article={{ Chaussure.IdChaussure }}" >
                                    <span style="color: #3A7734"> note : {{  "{:,.1f}".format(Chaussure.moy_notes) }}({{ Chaussure.nb_notes }})</span>
                                 </a>
                                {% endif %}
                            {% endif %}
                            {% if Chaussure.nb_avis is defined %}
                                {% if Chaussure.nb_avis > 0 %}
                                 <a href="/client/article/details?id_article={{ Chaussure.IdChaussure }}" >
                                    <span style="color: #3A7734">({{ Chaussure.nb_avis }} avis)</span>
                                 </a>
                                {% endif %}
                            {% endif %}
                            </div>
                        </div>
                {% endfor %}
        </div>
    </div>
{#    {{ Chaussures | pprint }}#}
{% endblock %}